<script
	src="https://code.jquery.com/jquery-3.1.1.js"
	integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
	crossorigin="anonymous"></script>

	<script type='text/javascript'>
		var socket = io();

		socket.on('connection', function() {
			console.log('Connected!');
		});

		socket.on('tweets', function(tweet) {
      		$("#tweet-container").prepend("<h3>" + tweet + "</h3>");
		});
	</script>
</body>
</html>