<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Tweet Track</title>

	<!-- FAVICON -->	
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#49a8ed">
	<meta name="theme-color" content="#ffffff">
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<!-- only show collapsed navbar if user is logged in  -->
				<% if(currentUser) { %>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<% } %>
				<a class="navbar-brand" href="/">
					<span>
						<img alt="Tweet Track Image" src="/img/twitter-white-on-blue.png">
					</span>
					<span>Tweet Track</span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<!-- only show collapsed navbar if user is logged in  -->
			<% if(currentUser) { %>
				<div class="collapse navbar-collapse" id="navbar-collapse-main">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<% if (currentUser.twitter.profileImage) { %>
									<img class="img-circle" id="img-profile" src="<%=currentUser.twitter.profileImage%>">
								<% } %>
								<%=currentUser.twitter.displayName%>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			<% } %>
		</div><!-- /.container-fluid -->
	</nav>