html	{
	height: 100%;
}

body	{
	height: 100%;
	background-color: #F5F8FA;
	padding-top: 60px;
}

.navbar-inverse {
	background-color: #1DA1F2;
	color: white;
	border: none;
	box-shadow: 0 2px 2px 0 #C2C2C2;
	font-size: 1.2em;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand {
	font-size: 1.35em;
	padding: 0;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

.navbar-inverse .navbar-nav>li>a {
    color: #eff4f7;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #657786;
}

.jumbotron {
	background-color: #FFFFFF;
}

.btn-twitter {
	opacity: 0;
	padding: 0;
	border: none;
	-webkit-animation: fadeIn 1s ease forwards;
	-moz-animation: fadeIn 1s ease forwards;
	-o-animation: fadeIn 1s ease forwards;
	animation: fadeIn 1s ease forwards;
}

@-webkit-keyframes fadeIn {
	0%{opacity: 0}
	100%{opacity: 1}
}
@-moz-keyframes fadeIn {
	0%{opacity: 0}
	100%{opacity: 1}
}
@-o-keyframes fadeIn {
	0%{opacity: 0}
	100%{opacity: 1}
}
@keyframes fadeIn { 
	0%{opacity: 0}
	100%{opacity: 1}
}

.title	{
	text-align: center;
	text-transform: capitalize;
}

.section {
	position: relative;
	background-color: white;
	color: black;
	margin: 15px 0 15px 0;
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0 2px 2px 0 #C2C2C2;
}

.section__rect {
	padding: 10px;
	height: 90px;
}

.section__square {
	padding: 10px;
	height: 400px;
}

.stream 	{
	height: 400px;
	overflow: hidden;
	position: relative;
}

.stream__tweet 	{
	padding: 5px 10px 2px 10px;
	background-color: #F5F8FA;
}

.gradient {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 75%, white 97%, white 100%);
}

.section > .remove {
	position: absolute;
	top: 10px;
	right: 10px;
}

.remove > button.glyphicon {
	color: #AAB8C2;
	/*outline: none;*/
	background-color: transparent;
	border: none;
}

.loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto auto;
	height: 85%;
	width: 85%;
	color: #AAB8C2;
}

.loader__anim,
.loader__anim:before,
.loader__anim:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load 1.8s infinite ease-in-out;
	animation: load 1.8s infinite ease-in-out;
}
.loader__anim {
	color: #1DA1F2;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader__anim:before,
.loader__anim:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader__anim:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader__anim:after {
	left: 3.5em;
}
@-webkit-keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.placeholder {
	background-color: #F5F8FA;

	-webkit-animation: pulse 1.5s alternate linear infinite;
	-moz-animation: pulse 1.5s alternate linear infinite;
	-o-animation: pulse 1.5s alternate linear infinite;
	animation: pulse 1.5s alternate linear infinite;
}

@-webkit-keyframes pulse {
	0%{opacity: 0.5}
	100%{opacity: 1}
}
@-moz-keyframes pulse {
	0%{opacity: 0.5}
	100%{opacity: 1}
}
@-o-keyframes pulse {
	0%{opacity: 0.5}
	100%{opacity: 1}
}
@keyframes pulse { 
	0%{opacity: 0.5}
	100%{opacity: 1}
}
