html	{
	height: 100%;
}

body	{
	height: 100%;
	background-color: #F5F8FA;
	padding-top: 60px;
}

.navbar-inverse {
	background-color: #1DA1F2;
	color: white;
	border: none;
	box-shadow: 0 2px 2px 0 #C2C2C2;
	font-size: 1.2em;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand {
	font-size: 1.35em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #eff4f7;
}

/*.col--noPad	{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 15px;
}*/

.title	{
	text-align: center;
	text-transform: capitalize;
}

.title--highlight	{
	background-color: #1DA1F2;
	color: white;
	line-height: 100%;
	margin: 0;
	padding: 20px;
	box-shadow: 0 2px 2px 0 #C2C2C2;
}

.section {
	position: relative;
	background-color: white;
	color: black;
	margin: 15px 0 15px 0;
	padding: 10px;
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0 2px 2px 0 #C2C2C2;
}

.section__rect {
	/*height: 180px;*/
}

.section__square {
	height: 400px;
}

.stream 	{
	height: 400px;
	overflow: hidden;
	position: relative;
}

.stream__tweet 	{
	padding: 5px 10px 2px 10px;
	background-color: #F5F8FA;
}

.gradient {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 75%, white 97%, white 100%);
}

.section > .remove {
	position: absolute;
	top: 10px;
	right: 10px;
}

.remove > button.glyphicon {
	color: #AAB8C2;
	/*outline: none;*/
	background-color: transparent;
	border: none;
}


