<% include partials/header %>

<div class="container">
	<div class="jumbotron section">
		<h1 class="text-center">Tweet Track</h1>
		<p class="text-center">Track hashtags on Twitter to measure trends and see what people are saying about your interests.</p>
		<hr>
		<div class="text-center">
			<a class="btn btn-default btn-twitter" href="/login/twitter">
				<img src="/img/sign-in-with-twitter-gray.png" alt="Sign in Twitter"/>
			</a>
		</div>
	</div>

	<!-- STREAM + GRAPH -->
	<% keywords.forEach(function(keyword, index) { %>
		<div class="row">
			<div class="col-sm-6">
				<div class="section section__square stream">
					<span class="gradient"></span>
					<h4 class="title">#<%= keyword %> Tweets </h4>
					<div class="stream__container">
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="section section__square">
					<canvas class="graph hidden"></canvas>
					<div class="loader placeholder">
						<div class="loader__anim"></div>
						<h3 class="text-center">Waiting for Tweets</h3>
					</div>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<% include partials/footer %>