<% include partials/header %>




<div class="container">
	<!-- INFO BOXES -->
	<div class="row">
		<div class="col-xs-12">
			<div class="section section__rect">
				<label for"newKeyword" >New Hashtag: </label>
				<form class="input-group" id="newKeyword-form" action="/stream" method="POST">
					<input  type="text" class="form-control" id="newKeyword" name="newKeyword" placeholder="Nintendo">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" id="newKeyword-submit">Add</button>
					</span>
				</form>
			</div>
		</div>
	</div>
	<!-- STREAM + GRAPH -->
	<% keywords.forEach(function(keyword, index) { %>
		<div class="row">
			<div class="col-sm-6">
				<div class="section section__square stream">
					<span class="gradient"></span>
					<form action="/stream/<%= keyword %>?_method=DELETE" method="POST" class="remove">
						<button class="glyphicon glyphicon-remove"></button>
					</form>
					<h4 class="title">#<%= keyword %> Tweets </h4>
					<div class="stream__container">
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
						<p class="stream__tweet placeholder">&nbsp;</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="section section__square">
					<form action="/stream/<%= keyword %>?_method=DELETE" method="POST" class="remove">
                    	<button class="glyphicon glyphicon-remove"></button>
                    </form>
					<canvas class="graph hidden"></canvas>
					<div class="loader placeholder">
						<div class="loader__anim"></div>
						<h3 class="text-center">Waiting for Tweets</h3>
					</div>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<% include partials/footer %>
